<ion-header>
  <ion-toolbar>
    <ion-title class="custom-title">
      TELLEVOAPP
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="about-us-page">
  <div class="about-us-content">
    <h2>Acerca de Nosotros</h2>
    <p>Somos un equipo apasionado de estudiantes y desarrolladores comprometidos con la innovación y la tecnología. Nuestra misión es abordar los desafíos de la educación en tiempos de pandemia y brindar soluciones efectivas para estudiantes, profesores y padres de familia.</p>
    <p>En TELLEVOAPP, creemos en la importancia de la educación y estamos decididos a hacer la diferencia. Hemos colaborado estrechamente con instituciones educativas, autoridades y la comunidad para crear una plataforma móvil de vanguardia que permita la enseñanza y el aprendizaje en cualquier entorno.</p>
    <p>Nuestro Equipo:</p>
    <ul>
      <li>Renan Sobarzo Díaz - Estudiante</li>
      <li>Edgard Guaico - Estudiante</li>
      <li>Bruno Lobos - Estudiante</li>
    </ul>
    <p>Estamos comprometidos con la excelencia en cada proyecto y en la creación de soluciones educativas innovadoras. ¡Únete a nosotros en nuestro viaje para transformar la educación!</p>
  </div>

  <div class="video-container">
    <iframe
      width="100%"
      height="315"
      src="https://www.youtube.com/embed/6stlCkUDG_s"
      title="Video"
      frameborder="0"
      allowfullscreen
  ></iframe>

  </div>
</ion-content>
