<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Busca tu Ruta
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      search-icon="search-circle" 
      animated="true" 
      show-clear-button="focus" 
      clear-icon="trash-bin"
      debounce="800" 
      placeholder="Search for area, street..."
      (ionInput)="onSearchChange($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="places?.length > 0">
    <ion-item *ngFor="let place of places" class="ion-margin-top">
      <ion-icon name="location-outline" slot="start"></ion-icon>
      <ion-label>
        {{ place?.title }}
        <p>
          <ion-text>
            {{ place?.address }}
          </ion-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <iframe
  width="600"
  height="450"
  frameborder="0"
  style="border:0"
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d53116.30938469969!2d-71.24508797302734!3d-33.689036395306616!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x966300003f7690e5%3A0x582872cdf30d9dfe!2sMelipilla%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses!2scl!4v1697506072129!5m2!1ses!2scl"
  allowfullscreen>
</iframe>

<div>
  <head>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9bte4cX-Ex45h9jvIm0CRus_hGNyH_Ww"></script>
  </head>

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d53116.30938469969!2d-71.24508797302734!3d-33.689036395306616!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x966300003f7690e5%3A0x582872cdf30d9dfe!2sMelipilla%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses!2scl!4v1697506072129!5m2!1ses!2scl" width="450" height="300" style="border: 5px;;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
</ion-content>